.a{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 100px;
}

.message{
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(152, 203, 59);
}

.previous{
    position: fixed; /* Sticks the div relative to the viewport */
      bottom: 0;      /* Aligns the div to the bottom */
      left: 0; 
      border-radius: 10px;
      height: 30px;
      background-color: rgb(152, 203, 59);
      border-color: rgb(152, 203, 59); 
}

.next{
    position: fixed; /* Sticks the div relative to the viewport */
      bottom: 0;      /* Aligns the div to the bottom */
      right: 0; 
      border-radius: 10px;
      height: 30px;
      background-color: rgb(152, 203, 59);
      border-color: rgb(152, 203, 59); 
}



.navbar-links{
    display: flex;
    flex-direction: row;
    background-color: rgb(152, 203, 59);
}

.navbaritem{
    margin: 5px;
    padding: 5px;
    background-color:rgb(152, 203, 59);
    text-decoration:none;
    color: blue;
    font-size: larger;
}

.navlink{
    /* border-radius: 10px; */
    background-color: rgb(152, 203, 59);
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: blue;
    font-size: larger;
}

.status{
    padding: 10px;
    background-color: rgb(152, 203, 59);
    height: 200px;
    margin-left: 200px;
    width: 200px;
    border-radius: 5px;
}

.transmit{
    background-color: black;
    margin: 2px;
    width: 15px;
    height: 8px;
    margin-bottom: 0px;
}


.node{
    background-color: rgb(152, 203, 59);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: 100px;
    margin-top: 0px;
}

.sendbutton{
    width: 70px;
    background-color: rgb(255, 80, 80);
    margin-left: 170px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: red;
}

.usernodeandsend{
    display: flex;
    flex-direction: column;
}

.nodes{
    display: flex;
    flex-direction: row;
}

.transmitwire{
    margin-left: 190px;
}

.botnode{
    margin-left: 375px;
}

@media (max-width: 480px) {

    .message{
        margin-top: 30px;    
        margin-bottom: 0px;
    }

.a{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 100px;
}


.status{
    padding: 10px;
    background-color: rgb(152, 203, 59);
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.transmitwire{
    margin-left: 45px;
}

.transmit{
    background-color: black;
    margin: 1px;
    width: 8px;
    height: 5px;
    min-width: 0px; 
    min-height: 0px;
    border: 0px;
    padding: 0px;
    margin-bottom: 0px;
}


.node{
    background-color: rgb(152, 203, 59);
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-left: 5px;
}

.sendbutton{
    width: 45px;
    background-color: rgb(255, 80, 80);
    border-radius: 5px;
    border-color: red;
    margin-left: 30px;
}

.usernodeandsend{
    display: flex;
    flex-direction: column;
}

.nodes{
    display: flex;
    flex-direction: row;
}

.status{
    margin-left: 200px;
    margin-top: 30px;
}

.botnode{
    margin-left: 280px;
}
    


}